<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <dic class="row">
    <div class="col-xs-3"><!-- COLUMNA IZQ -->
      <div class="collapse" id="AgregaTarea">
        <form class="thing-form">
          <div class="form-group">
            <label>Nombre</label>
            <input class="form-control" placeholder="Nombre Tarea..." ng-model="newThing.name">
          </div>
          <div class="form-group">
            <label>Descripción</label>
            <textarea class="form-control" rows="3" placeholder="Describe tu deber..." ng-model="newThing.desc"></textarea>
          </div>
          <div class="form-group">
            <label>Categoría</label>
            <select class="form-control" ng-model="newThing.categoria" >
              <option ng-repeat="j in BaseCategorias" >{{j.nombre}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>Repetición</label>
            <br>
            <div class="btn-group" data-toggle="buttons"  >
              <label class="btn btn-primary active" id="Diario">
                <input type="radio" name="options" autocomplete="off" onclick="CheckRep('Diario')"> Diario
              </label>
              <label class="btn btn-primary" id="Semanal">
                <input type="radio" name="options"  autocomplete="off" onclick="CheckRep('Semanal')"> Semanal
              </label>
              <label class="btn btn-primary" id="Mensual">
                <input type="radio" name="options"  autocomplete="off" onclick="CheckRep('Mensual')"> Mensual
              </label>
            </div>
            <nav>
              <ul class="pagination pagination-sm">
                <li class="active"><a href="#">Lu</a></li>
                <li><a href="#">Ma</a></li>
                <li><a href="#">Mi</a></li>
                <li><a href="#">Ju</a></li>
                <li><a href="#">Vi</a></li>
                <li><a href="#">Sa</a></li>
                <li><a href="#">Do</a></li>
              </ul>
            </nav>

  <!--button type="submit" class="btn btn-primary" ng-click="addThing()"-->
          </div>
        </form>
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="addThing()" >
          Añadir tarea</button>
      </div>
      <br>
      <button type="button" id="BotonColapsar" class="btn btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#AgregaTarea" onclick="ContraerExpander()">
        Nueva tarea</button>
    </div>
    <div class="col-xs-6">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active" ng-click="MuestraTodos()" onclick="isActive('Ret')" id="Ret"><a>Todos</a></li>
        <li role="presentation" ng-click="MuestraTerminados()"  onclick="isActive('Pend')" id="Pend"><a>Pendientes</a></li>
        <li role="presentation" ng-click="MuestraPendientes()" onclick="isActive('Aca')" id="Aca"><a>Acabados</a></li>

      </ul>
      <ul class="nav nav-tabs nav-stacked " ng-repeat="thing in BaseTareas">
        <li data-toggle="collapse" data-target="#{{thing._id}}" ng-class="{'ListaComp': thing.done,'ListNoComp': !thing.done}"><a>{{thing.name}}
          <button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
          <div class="collapse" id="{{thing._id}}">
            <div class="container">
              <div class="row">
                <div class="col-xs-4">
                  {{thing.desc}}
                </div>

                <div class="col-xs-2" >
                  <i ng-click="checkCompleted(thing)" id="{{thing._id}}" ng-class="{'fa fa-check-circle fa-3x': thing.done, 'fa fa-check-circle-o fa-3x': !thing.done}"></i>
                  <i data-toggle="modal" data-target="#{{thing._id}}_2" class="fa fa-pencil-square-o fa-3x"></i>
<!-- MODAL -->

                    <div class="modal fade" id="{{thing._id}}_2" tabindex="-1" role="dialog" aria-labelledby="{{thing._id}}">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="{{thing._id}}">Editar: {{thing.name}}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="form-group">
                              <label>Nombre</label>
                                <input type="text" class="form-control" value="{{thing.name}}" ng-model="thing.name">
                            </div>
                            <div class="form-group">
                              <label>Descripción</label>
                              <textarea class="form-control" rows="3" ng-model="thing.desc">{{thing.desc}}</textarea>
                            </div>
                            <div class="form-group">
                              <label>Categoría</label>
                              <select class="form-control" ng-model="thing.categoria" value="{{thing.categoria}}">
                                <option ng-repeat="j in BaseCategorias" ng-model="thing.desc">{{j.nombre}}</option>
                              </select>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                            <button ng-click="editThing(thing)" type="button" class="btn btn-primary" data-dismiss="modal">Guardar Cambios</button>
                          </div>
                        </div>
                      </div>
                    </div>

<!-- termina modal-->

                </div>
              </div>
            </div>

          </div>
      </ul>
  <!--    <form class="thing-form">
        <label>Nueva tarea</label>
        <p class="input-group">
          <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
          </span>
        </p>
      </form>
  -->
    </div>
    <div class="col-xs-3" >
<!--
      <ul class="list-group" ng-model="MainCtrl">
        <li class="list-group-item" ng-repeat="j in BaseCategorias" ><a href="#">
          {{j.nombre}}</a><span class="badge">666</span>
        </li>
      </ul>
-->



      <ul class="nav nav-pills nav-stacked" ng-model="MainCtrl">
        <li role="presentation" ng-repeat="CatRow in BaseCategorias" ng-click="imprime()" id="categor">
          <a href="#" data-toggle="collapse" data-target="#{{CatRow._id}}">
            {{CatRow.nombre}}
            <span class="badge">{{CatRow.cant}}</span>
            <button type="button" class="close" ng-click="deleteThingCate(CatRow)">&times;</button>
          </a>
          <div class="collapse" id="{{CatRow._id}}">
              <div class="well">
                <div class="row">
                    <div class="input-group">
                    <label>Editar Categoria:  {{CatRow.nombre}}</label>
                      <input type="text" class="form-control" value="{{CatRow.nombre}}" ng-model="CatRow.nombre" >
                      <button type="button" class="btn btn-info btn-xs btn-block" ng-click="EditaCategoria(CatRow)">Listo!</button>
                    </div>
                </div>
              </div>
          </div>
        </li>
      </ul>


      <form ng-model="MainCtrl">
        <br>
        <input class="form-control" placeholder="Nombre categoria..." ng-model="newThing.nombre" id="valorCate">
        <br>
        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="addThingCat()">Nueva Categoria</button>
        <br>

        <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="ActualizaCantCate()">Actualiza Categorias</button>

<!--INTENTO DE FILTROS POR CATEGORIA-->
<!--
        <br><br><br>
        <div class="form-group">
          <label>Filtrar por categoria</label>
          <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="ActualizaCantCate()">Actualiza filtros</button>
          <br>
            <select class="form-control" ng-model="thing.categoria" value="{{thing.categoria}}">
                <option ng-repeat="j in BaseCategorias" ng-model="thing.desc">{{j.nombre}}</option>
            </select>
        </div>
-->
      </form>

    </div>
  </div>
<!-- -->

<footer class="footer">
  <div class="container">
      <p>Toatzin Padilla Arias
        </p>
  </div>
</footer>
